# Virtual Environment
tf_env/
venv/
env/

# Model files and large binary files
*.h5
*.hdf5
*.pb
results/saved models/
results/models/
*.dylib
*.so
*.1900.dylib
stablehlo_extension.so
libtensorflow_cc.2.dylib

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# TensorFlow specific
tensorflow/
site-packages/